{% extends 'base.html' %}
{% block title%}<title>login </title>{% endblock%}
{% block content %}
<div class="container">
    <section class="text-center text-lg-start">
        <div class="container py-4">
          <div class="row ">
            <div class="col-lg-6 mb-5 mb-lg-0 mx-auto ">
              <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body p-2">
                  <h4 class=" mt-2 text-center">Login</h4>
                  <p class=" m-3 text-center">Please enter your Username and Password!</p>
                  <form action="" method="post">
                    {% csrf_token %}    
                     <!-- Username input -->
                     <div class="mb-4">
                        <input type="text" id="username" class="form-control" name="username"/>
                        <label for="username">Username</label>
                      </div>
      
                    <!-- Password input -->
                    <div class=" mb-4">
                      <input type="password" id="password" class="form-control" name="password"/>
                      <label for="password">Password</label>
                    </div>
                     
                   {% for message in messages %}
                    <div class="text-center">
                      <h5>{{message}} </h5>    
                    </div>
                  {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block m-3 " value="submit">
                            LOGIN
                          </button>
                    </div>
                   
                    <p class="text-center text-muted ">Don't have an account?  <a href="{% url 'register' %}"
                        class="fw-bold text-body"><u>Register here</u></a></p>
                  
      
                  </form>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </section>
    </div>
{% endblock%}